.contact-content {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.about-section {
    margin-bottom: 30px;
    text-align: left;
}

.about-section h3 {
    color: var(--card);
    border-bottom: 3px solid var(--text);
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.about-section p {
    line-height: 1.6;
    color: var(--black);
    font-weight: 500;
}

.about-box {
    background: var(--white);
    padding: 2rem;
    border-radius: 16px;
    border: 4px solid var(--text);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}