.contact-content {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.email-box {
    background: var(--white);
    padding: 2rem;
    border-radius: 16px;
    border: 4px solid var(--text);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.email-box h3 {
    color: var(--card);
    /* Red */
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.email-box p {
    color: var(--black);
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.email-link {
    color: var(--white);
    background: var(--text);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 0 #005a9e;
    transition: all 0.2s;
}

.email-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0 #005a9e;
}

.email-link:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #005a9e;
}